nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.NavbarFirstSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
}
