nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid grey;
}

.NavbarFirstSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 1rem;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: rgb(56, 148, 255);
}

nav ul li a.active {
  text-decoration: underline;
}
